################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CalculatorProject/v16/Server/sqlite3
/.vs/CalculatorProject/v16/.suo
